.MenuCollection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 0px;
  margin: 30px;
}

.Order {
  margin: 30px;
}

.MainPage {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.MenuImage img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.ui card {
  max-height: 475px;
  height: 475px;
  align-content: center;
}

.HeaderImage {
  object-fit: cover;
}

.LogoutIcon {
  float: right;
  overflow: auto;
}

.Logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Subheader {
  display: flex;
  justify-content: center;
}

.Checkout {
  display: flex;
}

.LoginPageContainer {
  display: flex;
  justify-content: center;
}

.LoginPage {
  padding-top: 10%;
  padding-left: 33%;
  padding-right: 33%;
}

.SignUpForm {
  padding-left: 33%;
  padding-right: 33%;
}

.LoginButton {
  color: #34BF70;
}

.LocationInfo {
  object-fit: cover;
}

.Title {
  justify-content: center;
  align-content: center;
}